[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
email-validator = "==2.1.0"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
